
@{
    ViewBag.Title = "編輯個人頁面";
}

<main aria-labelledby="title">
    <div class="container">

        <h1>@Model.UserData.Name </h1>
        <hr />
        <form class="form-signin" action="/User/UpdateUserPage" method="POST">
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">加入時間</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" value="@Model.UserData.CreationTime" />
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">帳號</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" value="@Model.UserData.Account" />
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">權限</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" value="@Session["UserRole"]" />
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Phone</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="EditUserData.PhoneNumber" placeholder="PhoneNumber" value="@Model.UserData.PhoneNumber">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">自我介紹</label>
                <div class="form-floating col-sm-10">
                    <textarea class="form-control" name="EditUserData.Introduction" placeholder="PhoneNumber" style="min-height: 150px; max-height: 200px; overflow-y: auto;">@Model.UserData.Introduction</textarea>
                </div>
            </div>

            <button class="btn btn-outline-secondary" type="submit">儲存</button>
            <a class="btn btn-outline-secondary" href="/User/UserPage" role="button">返回個人資料</a>

        </form>
    </div>
</main>