
@{
    ViewBag.Title = "個人頁面";
}

<style>
    .card {
        transition: transform 0.3s ease, border-color 0.3s ease;
    }

    .card:hover {
        transform: scale(1.05);
        border-color: blue;
    }

    .link-black {
        color: black; /* 將連結顏色設置為黑色 */
        text-decoration: none; /* 移除連結的下劃線 */
    }
</style>

<main aria-labelledby="title">
    <div class="container">

        @if ( Model.UserData != null)
        {

            <h1>@Model.UserData.Name </h1>
            <hr />
            <div style="display: flex;">
                <div style="flex: 8;">
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">加入時間</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" value="@Model.UserData.CreationTime" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">帳號</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" value="@Model.UserData.Account" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">權限</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" value="@Session["UserRole"]" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Phone</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" value="@Model.UserData.PhoneNumber" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">自我介紹</label>
                        <div class="col-sm-10">
                            <textarea class="form-control-plaintext" name="EditUserData.Introduction" placeholder="PhoneNumber" style="min-height: 150px; max-height: 200px; overflow-y: auto;">@Model.UserData.Introduction</textarea>
                        </div>
                    </div>
                    <a class="btn btn-outline-secondary" href="/User/EditUserPage" role="button">編輯</a>
                </div>
                <div style="flex: 4;">

                    @if (Model != null)
                    {
                        foreach (var product in Model.ArticleList)
                        {
                            <div class="card" style="margin-bottom: 20px;">
                                <div class="card-body d-flex justify-content-between align-items-start">
                                    <a href="@Url.Action("ArticleDetail", "Article", new { Choose_ArticleId = product.ArticleId, ActionType = "create"})" class="link-black">
                                        <div style="flex-grow: 1;">
                                            <h5 class="card-title">@product.Title</h5>

                                            <h6 class="card-subtitle mb-2 text-muted">
                                                @if (product.Content == null)
                                                {
                                                }
                                                else if (product.Content.Length > 30)
                                                {
                                                    @product.Content.Substring(0, 30)
                                                }
                                                else if (product.Content.Length < 30)
                                                {
                                                    @product.Content
                                                }
                                            </h6>
                                            <a href="#" class="link-black">作者：@product.Author</a>
                                            <p class="card-text">發布時間：@product.CreationTime</p>
                                        </div>
                                        <div style="display: flex; align-items: center;">
                                            <div>
                                                <div class="material-symbols-outlined" style="display: inline-block;">visibility</div>
                                                <div style="display: inline-block;">@product.ClickNumber</div>
                                            </div>
                                            <div>
                                                <div class="material-symbols-outlined text-danger" style="display: inline-block;">favorite</div>
                                                <div class="text-danger" style="display: inline-block;">@product.FavoriteNumber</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        }
                    }
                </div>
        </div>
        }
    </div>
</main>