@model NotX.Models.Article.ArticleListModel

@{
    ViewBag.Title = "文章";
}

<script src="/Scripts/Article/ArticleList.js" type="text/javascript"></script>

<style>
    .card {
        transition: transform 0.3s ease, border-color 0.3s ease;
    }

    .card:hover {
        transform: scale(1.05);
        border-color: blue;
    }

    .link-black {
        color: black; /* 將連結顏色設置為黑色 */
        text-decoration: none; /* 移除連結的下劃線 */
    }
</style>

<main aria-labelledby="title">
    <div class="container mb-5">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div style="display: flex;">
                    <div style="flex: 8;">
                        <div class="row">
                            <div class="col text-left">
                                <a type="button" class="btn btn-outline-secondary" href="@Url.Action("ArticleUpdateDetail", "Article", new { ActionType = "read" })" role="button">創作</a>
                            </div>
                            <div class="col text-end">
                                <select id="ChooseOrderCondition" name="ChooseOrderCondition" onchange="ChooseOrderCondition_onChange(this);" class="form-select">
                                    @foreach (var item in Model.ChooseOrderConditionDict)
                                    {
                                        <option value="@item.Key" @(item.Key == Model.ChooseOrderCondition ? "selected" : "")> @item.Value</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <br />
                        @if (Model != null)
                        {
                            foreach (var product in Model.ArticleList)
                            {
                                <div class="card" style="margin-bottom: 20px;">
                                    <div class="card-body d-flex justify-content-between align-items-start">
                                        <a href="@Url.Action("ArticleReadDetail", "Article", new { Choose_ArticleId = product.ArticleId, ActionType = "read"})" class="link-black">
                                            <div style="flex-grow: 1;">
                                                <h5 class="card-title">@product.Title</h5>

                                                <h6 class="card-subtitle mb-2 text-muted">
                                                    @if (product.Content == null)
                                                    {
                                                    }
                                                    else if (product.Content.Length > 30)
                                                    {
                                                        @product.Content.Substring(0, 30)
                                                    }
                                                    else if (product.Content.Length < 30)
                                                    {
                                                        @product.Content
                                                    }
                                                </h6>
                                                <a href="#" class="link-black">作者：@product.Author</a>
                                                <p class="card-text">發布時間：@product.CreationTime</p>
                                            </div>
                                            <div style="display: flex; align-items: center;">
                                                <div>
                                                    <div class="material-symbols-outlined" style="display: inline-block;">visibility</div>
                                                    <div style="display: inline-block;">@product.ClickNumber</div>
                                                </div>
                                                <div>
                                                    <div class="material-symbols-outlined text-danger" style="display: inline-block;">favorite</div>
                                                    <div class="text-danger" style="display: inline-block;">@product.FavoriteNumber</div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div style="flex: 4;">
                        <!-- 第二個卡片，佔比 4 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>