<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 一杯豆漿</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/" style="display: flex; align-items: center;">
                <div class="material-symbols-outlined" > emoji_objects </div>
                <span style="margin-left: 5px;">一杯豆漿</span>
            </a>

            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="切換導覽" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("首頁", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("商品", "CategoryList", "Category", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("文章", "ArticleList", "Article", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("聯絡", "Contact", "Contact", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
                <div class="btn-group">
                    @if (Session["UserRole"] != null && (Session["UserRole"].ToString() == "Member" || Session["UserRole"].ToString() == "Admin"))
                    {
                        <a type="button" class="btn btn-light" href="">Hi 歡迎!</a>
                        <a type="button" class="btn btn-light" href="@Url.Action("UserPageList", "User")">個人頁面</a>
                        <a type="button" class="btn btn-light" href="@Url.Action("Logout", "Member" )">登出</a>
                    }
                    else
                    {
                        <a type="button" class="btn btn-light" href="@Url.Action("SignUpPage", "Member" )">註冊</a>
                        <a type="button" class="btn btn-light" href="@Url.Action("LoginPage", "Member" )">登入</a>
                    }
                </div>
            </div>

            <!--
    <div class="btn-group">
        <button type="button" class="btn btn-light" onclick="changeLanguage('zh-TW')">繁體中文</button>
        <button type="button" class="btn btn-light" onclick="changeLanguage('zh-CN')">简体中文</button>
    </div>
        -->

        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer >
            <div>&copy; @DateTime.Now.Year - 一杯豆漿</div>
            <div>Currently v1.0.0.</div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
